<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: Brooklyn Nets </h1>
    <% @team.each do |team|
      <h2><%= team %></h2>
      <% end %>



 </body>
</html>
